<div style="display: flex">
    <section>
    <article>
        <h2> Recherche</h2>
    <form style="display: block">
        <label >Saison :
            <select ng-model="data.typeSeason"  >
                <option ng-repeat="option in availableSaison" value="{{option.name}}">{{label.seasonLabel[option.name]}}</option>
            </select>
        </label>
        <label > Produits <br />
            <div ng-repeat="nb in nbIngredient" style="display: inline">
                <label>Produits {{nb.id}} :
                    <ng-autocomplete my-two-way-bind="nb" can-add="false"></ng-autocomplete>
                </label>
            </div>
            <button ng-click="addIngredient()"> + </button>
        </label>
        <label >Nombre de personne: <input type="number" ng-model="data.personNumber" /></label><br />
    <input type="submit" ng-click="filtreRecipe()" value="Rechercher" />
</form>
    </article>
    <article>
<br />
        <h2>Filtre</h2>
    <label>Type de plat :
        <select ng-model="typeFiltre" ng-change="changement()" >
            <option ng-repeat="option in availableTypes" value="{{option.name}}">{{label.platsLabel[option.name]}}</option>
        </select>
    </label>

    {{typeFiltre.name}}
    <br />
    </article>
</section>
<section>
    <article ng-repeat="recette in filterRecipe ">
        <h2>
            <a ng-href="#!/recipe/{{recette.id}}">{{recette.name}}</a>
            ({{label.platsLabel[recette.typePlat.name]}})
        </h2>
        {{recette.description}}
        <div ng-repeat = "ingre in recette.ingredient">
            - {{ingre.quantity.value}} {{label.unitesLabel[ingre.quantity.unit.name]}} de {{ingre.product.name}}
        </div>
    </article>
</section>
</div>